.ui-header {
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	box-shadow: 0 0 1em rgba(0, 0, 0, .5);
}
.ui-corner-bottom ui-content ui-body-c {
	margin-top: 0px;
}
h1 {
	font-family: 'Helvetica';
	font-size: 24px !important;
	margin-top: 3px !important;
	margin-bottom: 3px !important;
	color: black;
	text-shadow: 1px 1px 1px #fff;
}
h5 {
	position: relative;
	text-align: center;
	font-family: Helvetica;
	color: white;
	font-weight: lighter;
	text-shadow: 1px 1px 1px black;
	margin: 0px 0px 25px;
}
h6 {
	position: relative;
	text-align: center;
	font-family: Helvetica;
	color: white;
	font-weight: lighter;
	text-shadow: 1px 1px 1px black;
	margin: 0 0 0 0;
}
p#function {
	text-align: center;
	font-family: 'Helvetica';
	color: white;
	font-size: 50px;
	font-weight: lighter;
	font-stretch: ultra-condensed;
	text-shadow: 1px 1px 1px black;
	margin: 0 0 0 0;
}
p.banner {
	text-align: center;
	font-family: 'Helvetica';
	color: white;
	font-size: 40px;
	font-weight: lighter;
	font-stretch: ultra-condensed;
	text-shadow: 1px 1px 1px black;
	margin: 0 0 0 0;
}
.header_img {
	vertical-align: text-top !important;
	overflow-y: visible !important;
	position: absolute;
	padding-top: 3px;
	margin-left: 5px;
}
*.img_wrapper {
	display: block;
	text-align: center !important;
	margin: -10px;
}
*.featurestack {
	text-decoration: none;
	border-bottom: none !important;
}
#home {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-x: center;
	background-position-y: 0px;
	background-size: 100% 62%;
	background-color: black;
}
.browser {
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position-x: center;
	background-position-y: 38px;
	background-size: 100%;
	background-color: black;
}
#bbuttontext {
	font-family: 'Helvetica';
	font-size: 18px;
	font-weight: bold;
	line-height: 11px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
}
#homebrowse {
	margin-bottom: 33px; 
}
.ui-li-divider {
	border: none;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#808080), color-stop(1, #9a9a9a) );
	background: -moz-linear-gradient( center bottom, #808080 0%, #9a9a9a 100% );
	box-shadow: 0 8px 1em rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	box-shadow: 0 0 1em rgba(0, 0, 0, .5);
}
.browse {
	border: none;
	margin-top: 0px !important;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#c0c0c0), color-stop(1, #ebedf2) );
	background: -moz-linear-gradient( center bottom, #c0c0c0 0%, #cdcdcd 100% );
	border: 1px solid #fff;
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	box-shadow: 0 0 1em rgba(0, 0, 0, .5);
}
.body {
	border: none;
	padding-bottom: 40px;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#c0c0c0), color-stop(1, #ebedf2) ) ;
	background: -moz-linear-gradient( center bottom, #c0c0c0 0%, #cdcdcd 100% ) ;
	border: 1px solid #fff;
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5) ;
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5) ;
	box-shadow: 0 0 1em rgba(0, 0, 0, .5) ;
}
.results {
	/* Lists or content inside of the "content" data-role */
	background: #ebedf2;
}
.sourcelist {
	/* Lists or content inside of the "content" data-role */
	border: none;
	margin-top: 0px;
}
.genrelist {
	background: none !important;
	border: none !important;
}
.genreheader {
	border: none;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#808080), color-stop(1, #9a9a9a) );
	background: -moz-linear-gradient( center bottom, #808080 0%, #9a9a9a 100% );
	box-shadow: 0 8px 1em rgba(0, 0, 0, .5);
	border-top: #dbdbdb;
	text-shadow: none;
	margin-top: 5px;
	margin-bottom: 20px;
}
.p_space {
	color: #d1d1d1;
	font-weight: bold;
}
li {
	box-shadow: 0 8px 1em rgba(0, 0, 0, .5);
}
#moviegroups {
	margin: 0px;
	border-bottom: none !important;
}
#groups_menu.ui-btn-active {
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#9c1c1f), color-stop(1, #b91d22) ) !important;
	background: -moz-linear-gradient( center bottom, #9c1c1f 0%, #b91d22 100% ) !important;
}
.navbar {
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	height: 35px;
	padding: 0;
}
.resref {
	color: white !important;
	outline: none !important;
	text-shadow: black;
}
.ui-btn-active {
	color: black;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#c0c0c0), color-stop(1, #ebedf2) );
	background: -moz-linear-gradient( center bottom, #c0c0c0 0%, #cdcdcd 100% );
	border: 1px solid #fff;
	text-shadow: none;
}
.ui-datebox-container .ui-header {
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#9c1c1f), color-stop(1, #b91d22) ) !important;
	background: -moz-linear-gradient( center bottom, #9c1c1f 0%, #b91d22 100% ) !important;
}
.ui-datebox-container h1 {
	color: white;
	text-shadow: none;
}
label {
	display: block;
}
.userdialog {
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#5a5a5a), color-stop(1, #808080) ) !important;
	background: -moz-linear-gradient( center bottom, #5a5a5a 0%, #808080 100% ) !important;
	background-size: 100% 640px !important;
}
.userdialog .ui-btn-left {
	display: none !important;
}
.userdialog h1 {
	color: white;
	text-shadow: none;
	margin-right: 1% !important;
	margin-left: 1% !important;
}
.userdialog p {
	text-align: center;
}
.userdialog .ui-header {
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#9c1c1f), color-stop(1, #b91d22) ) !important;
	background: -moz-linear-gradient( center bottom, #9c1c1f 0%, #b91d22 100% ) !important;
}
.userdialog .ui-content {
	background-color: #ebedf2;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	color: #1c1601;
}
.userdialog ul li {
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	list-style-type: none;
}
label.error {
	display: block;
	margin: 10px 0;
	color: #cc0000;
}
.errorli {
	font-weight: 100;
}
div.ui-controlgroup-label {
	display: none !important;
}
#errorslink, #submitlink, #clearall, #hclear {
	display: none !important;
}
.notify {
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	color: black;
	text-shadow: 1px 1px 1px white;
	font-size: 13px;
}
.reqlabel {
	display: inline !important;
}
#fieldreset > .ui-submit {
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#9c1d1f), color-stop(1, #b91d22) ) !important;
	background: -moz-linear-gradient( center bottom, #9c1c1f 0%, #b91d22 100% ) !important;
	color: white;
	text-shadow: 1px 1px 1px black;
}
.blocklabel {
	display: block;
}
.formslider .ui-slider-switch {
	width: 100%;
}