{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdproject"
    },
    "Cloudant": {
      "db": "https://heatchinaturentsedestrep:uEyCH303LtOLcM1gJIQTFAIkw@tankgrrl.cloudant.com/asdproject"
    }
  }
}
